.form-control {
  height: 250px;
  padding: 0;
  overflow: auto;
}

.list-group-item {
  cursor: pointer;
}

.square {
  background-color: white;
  margin-right: 10px;
  border-radius: 3px;
}

.square.checked {
  color: #007bff;
}
