<form [formGroup]="form">
  <h1 class="titulo">Crie um novo grupo</h1>
  <app-mensagem-erro></app-mensagem-erro>
  <app-input-text [formGroup]="form" formControlName="nome" id="nome" label="Nome do grupo"></app-input-text>
  <app-multi-select [opcoes]="opcoes" formControlName="funcionalidades"
                    label="Selecione as funcionalidades para esse grupo"></app-multi-select>
  <button (click)="criaGrupo()" [disabled]="form.invalid" class="btn btn-primary" type="submit">Criar grupo</button>
</form>
