<div class="form-group">
  <label [for]="id">{{label}}</label>
  <input (blur)="updateTouched()" (keypress)="aplicaMascara()" (keyup)="updateChange()" [(ngModel)]="value"
         [class.is-invalid]="errors() && dirty()"
         [id]="id" class="form-control is-invalid" maxlength="14" type="text">
  <div *ngIf="errors() && dirty() && errors().required" class="invalid-feedback">
    Campo obrigatório
  </div>
  <div *ngIf="errors() && dirty() && errors().cpf" class="invalid-feedback">
    CPF inválido
  </div>
</div>
