<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Relatório de usuários</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 1px solid #ddd;
            padding: 5px 0;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Relatório de usuários</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Usuário</th>
        <th>CPF</th>
    </tr>
    </thead>
    <tbody>
        #foreach($usuario in $relatorio.clientes)
        <tr>
            <td>$usuario.nome</td>
            <td>$usuario.email</td>
            <td>$usuario.nomeUsuario</td>
            <td>$usuario.cpf</td>
        </tr>
        #end
    </tbody>
</table>
</body>
</html>