<div>
  <label>{{label}}</label>
  <div class="btn-group">
    <button [class.is-invalid]="errors() && dirty()" class="btn btn-select"
            type="button">{{value ? value.value : 'Escolha uma opção:'}}</button>
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-select dropdown-toggle dropdown-toggle-split" data-reference="parent"
            data-toggle="dropdown" id="dropdownMenuReference" type="button">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div aria-labelledby="dropdownMenuReference" class="dropdown-menu">
      <a (click)="select()" class="dropdown-item">Nenhum</a>
      <a (click)="select(option)" *ngFor="let option of options" class="dropdown-item">{{option.value}}</a>
    </div>
  </div>
  <div *ngIf="errors() && dirty() && errors().required" class="invalid-feedback">
    Campo obrigatório
  </div>
</div>
