<div>
  <label>{{label}}</label>
  <div class="btn-group">
    <button type="button" class="btn btn-select" [class.is-invalid]="errors() && dirty()">{{value ? value.value : 'Escolha uma opção:'}}</button>
    <button type="button" class="btn btn-select dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-reference="parent">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <a class="dropdown-item" (click)="select()">Nenhum</a>
      <a class="dropdown-item" *ngFor="let option of options" (click)="select(option)">{{option.value}}</a>
    </div>
  </div>
  <div class="invalid-feedback" *ngIf="errors() && dirty() && errors().required">
    Campo obrigatório
  </div>
</div>
