<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/home">Estoque</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.dropdown]="m.menusFilhos" *ngFor="let m of menu">
        <a class="nav-link" [class.dropdown-toggle]="m.menusFilhos" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{m.nome}}
        </a>
        <div *ngIf="m.menusFilhos" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let mf of m.menusFilhos" class="dropdown-item" [routerLink]="mf.caminho">{{mf.nome}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button">
          Olá, {{cliente.nome}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="sair()" role="button">
          Sair
        </a>
      </li>
    </ul>
  </div>
</nav>
