<div id="login">
  <form [formGroup]="form" autocomplete="off" class="col-md-6 m-auto">
    <h1 class="titulo">Entre na sua conta</h1>

    <app-mensagem-erro></app-mensagem-erro>

    <app-input-text [formGroup]="form" formControlName="usuario" id="usuario" label="Usuário"></app-input-text>

    <app-input-text [formGroup]="form" formControlName="senha" id="senha" label="Senha" type="password"></app-input-text>

    <div class="text-center">
      <button (click)="login()" [disabled]="form.invalid" class="btn btn-primary" type="submit">Entrar</button>
    </div>
  </form>
</div>
