<div id="login">
  <form [formGroup]="form" autocomplete="off" class="col-md-6 m-auto">
    <h1 class="titulo">Entre na sua conta</h1>

    <app-mensagem-erro></app-mensagem-erro>

    <app-input-text id="usuario" label="Usuário" formControlName="usuario" [formGroup]="form"></app-input-text>

    <app-input-text type="password" id="senha" label="Senha" formControlName="senha" [formGroup]="form"></app-input-text>

    <div class="text-center">
      <button (click)="login()" type="submit" class="btn btn-primary" [disabled]="form.invalid">Entrar</button>
    </div>
  </form>
</div>
